<%- include('partials/header') -%>

<!-- <main class="container">
    <div class="mt-5">
        <h1>Bible Verse Look-Up</h1>
    </div>
    <div class="mb-3">
        <label for="verseLookup" class="form-label">Enter the verse you want to lookup</label>
        <textarea class="form-control" id="verseLookup" name="verseLookup"></textarea>
      </div>
    <button class="submit btn btn-primary">Submit</button>
    <button class="reset btn btn-primary">Reset Search</button>
  </div>
  
</main> -->
<body class="bg-white-200">
  <h1
    class="flex-auto py-20 text-white justify-items-center text-center text-3xl font-bold bg-slate-900 items-center"
  >
    Bible Verse Look-Up
  </h1>
  <section class="flex-wrap justify-around py-20">
    <div class="ml-5 font-medium text-slate-700 pt-10 flex-col mb-3">
      Enter verse you would like to look up
    </div>
    <input
      class="ml-5 border-slate-200 placeholder-slate-400 contrast-more:border-slate-400 contrast-more:placeholder-slate-500 bg-zinc-200 flex-row pl-2"
      type="text"
    />

    <button
      class="submit bg-slate-900 hover:bg-sky-700 rounded px-3 text-white"
    >
      Submit
    </button>
    <button class="reset bg-slate-900 hover:bg-sky-700 rounded text-white px-2">
      Reset
    </button>
  </section>
  <script src="js/verseLookup.js"></script>
</body>

<%- include('partials/footer') -%>
